@page "/order"
@inject IOrderService _orderService
@inject IJSRuntime _js
@inject NavigationManager _navigationManager

<PageTitle>Serwis samochodowy | Zamówienia</PageTitle>
<h1>Lista zamówień</h1>
<br />
<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Klient</th>
                    <th>Pracownik</th>
                    <th>Rejestracja</th>
                    <th>Data zgłoszenia</th>
                    <th>Data ukończenia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in orderList)
                {
                    <tr>
                        <td>@p.Personel.Name @p.Personel.LastName</td>
                        <td>@p.Personel.Name @p.Personel.LastName</td>
                        <td>@p.Car.LicensePlate</td>
                        <td>@p.AdmissionDate.ToString("yyyy-MM-dd")</td>
                        <td>@(p.CompletionDate.HasValue ? p.CompletionDate.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                        <td>
                            <button class="btn btn-warning" @onclick="@(()=>GetDetail(@p.Id))">
                                <span class="oi oi-pencil" aria-hidden="true"></span>
                                Szczegóły
                            </button>
                            @if (!p.CompletionDate.HasValue)
                            {
                                <button class="btn btn-warning" @onclick="@(()=>CompleteOrder(@p.Id))">
                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                    Ukończ
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<OrderDto> orderList;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        orderList = _orderService.GetAll();
    }

    protected async Task CompleteOrder(int id)
    {
        _orderService.CompleteOrder(id);
        OnInitialized();
    }

    protected async Task GetDetail(int id)
    {
        _navigationManager.NavigateTo($"/order/detail/{id}");
    }
}